body {
    font-family: 'Noto Sans Tai Tham', Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    height: 120px;
    background-color: #830006;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    border-bottom: 1px solid #FFFFFF;
    position: relative;
}

.logo {
    height: 100px;
    position: absolute;
    left: 20px;
    margin-left: 10px;
}

.header-text {
    text-align: center;
    color: #ffffff;
}

header .title {
    font-size: 35px;
    margin: 0;
    color: #F7D953;
}

header .subtitle {
    font-size: 16px;
    margin: 5px 0 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    flex: 1;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.form {
    display: flex;
    gap: 20px;
}

.left-column, .right-column {
    flex: 1;
    min-width: 400px;
}

label {
    margin-top: 20px;
    display: block;
}

input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    padding: 12px;
    margin-top: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="file"] {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    font-size: 16px;
}

.section {
    margin-top: 20px;
    color: #333;
}

.section-title {
    font-weight: bold;
    margin-bottom: 7px;
}

input[type="checkbox"] {
    margin-right: 8px;
    vertical-align: middle;
}

.actions {
    position: absolute;
    bottom: 60px;
    right: 85px;
    display: flex;
    gap: 10px;
}

button {
    height: 55.56px;
    width: 235.2px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

#next-btn {
    background-color: #ffd700;
    color: #676767;
    border: none;
    border-radius: 5px;
}

#cancel-btn {
    background-color: #800000;
    color: white;
    border: none;
    border-radius: 5px;
}

#next-btn:hover {
    background-color: #e0ce53;
}

#cancel-btn:hover {
    background-color: #bb0009; 
}