body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    height: 120px;
    background-color: #830006;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    border-bottom: 1px solid #FFFFFF;
    position: relative;
}

.logo {
    height: 100px;
    position: absolute;
    left: 20px;
    margin-left: 10px;
}

.header-text {
    text-align: center;
    color: #ffffff;
}

header .title {
    font-size: 35px;
    margin: 0;
    color: #F7D953;
}

header .subtitle {
    font-size: 16px;
    margin: 5px 0 0;
}

.content-box {
    background-color: #f8f0d9;
    padding: 20px;
    border: 1px solid #e0caa8;
    border-radius: 5px;
    width: 40%;
    text-align: center;
    margin: auto; /* Center horizontally */
    align-items: center;
    justify-content: center; /* Center vertically */
    font-family: 'Noto Sans Tai Tham', sans-serif;
}


.instruction {
    font-size: 1.2em;
    color: #867c6d;
    margin-bottom: 15px;
}

.price-list {
    font-size: 14px;
    color: #4a4a4a;
    text-align: left;
}

.price-list p {
    margin-bottom: 10px;
}

.price-list ul {
    list-style-type: none;
    padding: 10; /* Removes default padding for the list */
    margin: 0; /* Removes default margin for the list */
}

.price-list li {
    display: flex;
    justify-content: space-between;
    margin: 5px 0; /* Smaller space between list items */
    padding: 0; /* Removes any internal padding within list items */
}

.price-list li span {
    margin: 0 160px; /* Adds a small space around spans within li items */
}


.action-buttons {
    position: absolute;
    bottom: 60px;
    right: 85px;
    display: flex;
    gap: 10px;
}

button {
    height: 55.56px;
    width: 235.2px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.next-button {
    background-color: #ffd700;
    color: #676767;
    border: none;
    border-radius: 5px;
}

.cancel-button {
    background-color: #800000;
    color: white;
    border: none;
    border-radius: 5px;
}

.next-button:hover {
    background-color: #e0ce53;
}

.cancel-button:hover {
    background-color: #bb0009;
}